<!DOCTYPE html>
<html>
<head>
    <title><%= blog.title %></title>
</head>
<body>

    <h1><%= blog.title %></h1>
<p><strong>Author:</strong> <%= blog.author %></p>
<p><%= blog.content %></p>

<a href="/blogs/<%= blog._id %>/edit">Edit</a>

<form action="/blogs/<%= blog._id %>/delete" method="POST">
    <button>Delete</button>
</form>

<br>
<a href="/dashboard">Back</a>

</body>
</html>